Data Types and Structures Questions

1.What are data structures, and why are they important?
 >> Data structure is a way of organising , storing and managing data in any device so that it increases the efficiency of the user and helps to decode the complex tasks .

 They are crucial as it helps in manipulation of data acccording to user experince and also helps in retrival of data in case of critical situations from any complex structures .

2.Explain the difference between mutable and immutable data types with examples?

>> The mutable data type can be modified once the data creation is completed in the system by the user using python . The Immutable data is the one which cannot be changed by the user once it has been created in system . Some examples include :

Mutable - Lists , dictionary as their content can be changed

Immutable - Strigs are Immutable as if any operation is performed on them , it results in changing he entire characeter of the operation.

3.What are the main differences between lists and tuples in Python?
 >> The main difference between Lists and Tuple are : the list are mutable in nature that means their elements can be changed added or removed or modified after creation, whereas Tuples are Immutable in Nature that means their element cannot be changed after creation.

4.Describe how dictionaries store data?
 >> The dictionaries in python are unordered collection of key value pairs where each key is unique and is mapped to a value internally, it uses a hashtable to store and retrieve value efficiently based on hash of the keys.

5.Why might you use a set instead of a list in Python?
  >> A set in python are unordered collection of unique and immutable element, optimized for fast membership testing and set operations like Union, Intersection and difference.

6.What is a string in Python, and how is it different from a list?
 >> A string in Python is immutable sequence of Unicode Characters used to represent text wheas a list is mutable in nature.

7.How do tuples ensure data integrity in Python?'
 >>  A tuple ensue data intigrity in Python by being Immutable means once its created its element cannot be changes or modified.

8.What is a hash table, and how does it relate to dictionaries in Python?
 >> A hash table is a data structure that stores the key value pairs and uses a hash function to compute an index for storing and retrieving data efficiently, In Python Dictionaries are Implemented using hash tables allowing for fast access, insertion or deletion based on keys.

9.Can lists contain different data types in Python?
 >> Yes a list contain different type in python like Integers, Strings, Float and even other list and object all within same list.

---

10.Explain why strings are immutable in Python?
 >> Strings are Immutable in Python beacuse it ensures data Integrity that helps to prevent accidental damages to data, string are memory efficient that helps to enabling string intering, allowing resuse of common strings.

11.What advantages do dictionaries offer over lists for certain tasks?
 >> The advantages tha dictionaries offer over list for certain tasks beacuse: dictionaries are key value pairs that offer fast access to data using unique keys making them ideal for tasks that require quick lookup, organized data mapping and meaningful association of elements.

.Describe a scenario where using a tuple would be preferable over a list?'
 >> A scenario where using a tuple would be preferable over list are when the data is not needed to be changed, to ensure data integrity and The collection needs to be used as a dictionary key or stored in a set.

12.How do sets handle duplicate values in Python?
 >> In Python a set automatically remove duplicate values, A set is an unordered collection of unique elements, meaning that any repeated values are discarded when added. If you attempt to add a duplicate element to a set, it will simply be ignored.

13.How does the “in” keyword work differently for lists and dictionaries?
 >> The in keyword checks for the presence of a value in a list and checks for the presence of a key in a dictionary.

14.Can you modify the elements of a tuple? Explain why or why not?
 >> No, you cannot modify the elements of a tuple because tuples are immutable in Python. Once a tuple is created, its contents cannot be changed. This immutability ensures that the data remains consistent and protected from accidental modifications. If you need to change the elements, you'd have to create a new tuple.

17.Describe the time complexity of accessing elements in a dictionary
 >> The time complexity of accessing elements in a dictionary is O(1) on average, meaning it takes constant time, regardless of the size of the dictionary. However, in rare cases of hash collisions, it can degrade to O(n).

18.In what situations are lists preferred over dictionaries3
 >> Lists are preferred over dictionaries when you need an ordered collection of items, access elements by index, or work with a sequence of homogeneous data without key-value pairs.

19.Why are dictionaries considered unordered, and how does that affect data retrieval
 >> Dictionaries are considered unordered because the key-value pairs are stored based on the hash of the keys, not in a specific order. This means the order of items is not guaranteed, though Python preserves insertion order during iteration.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
 >> A list retrieves data by index position, maintaining order, while a dictionary retrieves data by key unique identifier, with fast access due to hashing, but no guaranteed order.

Practical Questions

In [7]:
#  Write a code to create a string with your name and print it
Your_Name = ("Vansh")
print(Your_Name)

Vansh

In [8]:
# .Write a code to find the length of the string "Hello World"
my_string = "Hello World"
string_length = len(my_string)
print(string_length)

11

In [9]:
#  Write a code to slice the first 3 characters from the string "Python Programming"P
my_string = "Python Programming"
sliced_string = my_string[:3]
print(sliced_string)

Pyt

In [10]:
#  Write a code to convert the string "hello" to uppercase
my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

In [11]:
# . Write a code to replace the word "apple" with "orange" in the string "I like apple"
my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print(new_string)

I like orange

In [12]:
#   Write a code to create a list with numbers 1 to 5 and print it
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [13]:
#  Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [14]:
#  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [15]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [ ]:
#  Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

In [16]:
#  Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [17]:
#  Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [18]:
#  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

In [19]:
#  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)

5

In [20]:
#  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [24]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_fruits_tuple = ('apple', 'banana', 'mango')
is_kiwi_in_tuple = "kiwi" in my_fruits_tuple
print(is_kiwi_in_tuple)

False

In [25]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

In [26]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [27]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [28]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [29]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [30]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [31]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [32]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict["name"]
print(name_value)

Alice

In [35]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [36]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
  print("The key 'city' exists in the dictionary.")
else:
  print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [ ]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8, "c": 9}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

In [37]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[15, 20, 51, 57, 83]

In [38]:
# Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[2]) # Remember that list indices start at 0

cherry

In [41]:
#  Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [44]:
# Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "cherry", "apple"]
my_set = set(my_list)
print(my_set)

{'cherry', 'apple', 'banana'}